.hero {
  width: 100%;
  padding: 60px 0 100px;
  overflow: hidden;
}

.hero-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 140px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.hero-content {
  flex: 0 0 600px;
}

.hero-title {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 18px;
}

.highlight {
  color: #7961DB;
}

.hero-description {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 28px;
}

.hero-actions {
  display: flex;
  align-items: center;
  gap: 14px;
}

.hero-btn {
  height: 42px;
  padding: 0 18px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.hero-btn.primary {
  background: linear-gradient(135deg, #7961DB, #6a5ae0);
  color: #fff;
  min-width: 150px;
}

.hero-btn.secondary {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #7961DB;
  background: transparent;
  font-weight: 700;
}

.play-icon {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 2px solid #7961DB;

  display: flex;
  align-items: center;
  justify-content: center;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 7px solid #7961DB;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  margin-left: 2px;
}

.hero-visual {
  position: relative;
  width: 600px;
  height: 480px;
  flex-shrink: 0;
}

.hero-bg {
  position: absolute;
  width: 560px;
  height: 560px;
  background: radial-gradient(circle, #7961DB55, transparent 70%);
  border-radius: 50%;
  left: 80px;
  top: 50%;
  transform: translateY(-50%);
}

.hero-main {
  position: absolute;
  width: 700px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.hero-badge {
  position: absolute;
  top: 60px;
  left: 0;
  width: 140px;
}


@media (max-width: 1024px) {
  .hero {
    padding: 40px 0 40px;
  }

  .hero-container {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .hero-content {
    order: 2;
    max-width: 700px;
  }

  .hero-title {
    font-size: 28px;
  }

  .hero-description {
    font-size: 15px;
  }

  .hero-actions {
    justify-content: center;
  }

  .hero-visual {
    order: 1;
    width: 100%;
    height: 420px;
    position: relative;
  }

  .hero-bg {
    position: absolute;

    width: 700px;
    height: 700px;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
  }

  .hero-main {
    position: absolute;

    width: 700px;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
  }

  .hero-badge {
    width: 130px;
    left: 0;
    top: 60px;
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 10px 0 80px;
  }

  .hero-container {
    padding: 0 20px;
    text-align:left ;
  }

  .hero-visual {
    height: 240px;
    transform: scale(1.1);
    left: 50px;
  }

  .hero-bg {
    width: 300px;
    height: 300px;
  }

  .hero-main {
    width: 380px;
    margin-bottom: -20px;
  }

  .hero-badge {
    width: 90px;
    left: 0%;
    top: 0%;
  }

  .hero-actions {
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
  }

  .hero-btn.primary {
    width: 100%;
    max-width: 240px;
  }
}