.header {
  width: 100%;
  height: 108px;
  display: flex;
  align-items: center;
}

.header-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  padding: 0 140px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}


.header-logo {
  display: block;
}

.header-logo-desktop {
  height: 20px;
}

.header-logo-mobile {
  display: none;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.lang {
  position: relative;
  width: 72px;
  font-weight: bold;
}

.lang-selected {
  height: 39px;
  padding: 0 12px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #7961DB;
  font-size: 14px;

  cursor: pointer;

  border: 1px solid #7961DB;
  border-radius: 8px;
  background: white;
  box-sizing: border-box;
}

.arrow {
  width: 4px;
  height: 4px;

  border-right: 1px solid #7961DB;
  border-bottom: 1px solid #7961DB;

  transform: rotate(45deg);
  transition: 0.2s;
}

.arrow.open {
  transform: rotate(-135deg);
}

.arrow-circle {
  width: 16px;
  height: 16px;

  border: 1px solid #7961DB;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.lang-options {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;

  display: flex;
  flex-direction: column;

  background: white;

  border: 1px solid #7961DB;
  border-radius: 0 0 8px 8px;
  border-top: none;

  z-index: 10;
  box-sizing: border-box;
}

.lang-options div {
  padding: 10px 12px;

  display: flex;
  align-items: center;

  color: #7961DB;
  font-size: 14px;

  cursor: pointer;
}

.lang-options div:hover {
  background: #f3f0ff;
}

.lang.open .lang-selected {
  border-radius: 8px 8px 0 0;
  border-bottom: none;
}

.header-btn {
  height: 39px;
  width: 165px;
  padding: 0 16px;

  border-radius: 8px;
  border: none;

  background: linear-gradient(135deg, #7961DB, #6a5ae0);
  color: white;

  font-size: 14px;
  font-weight: 500;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

@media (max-width: 1024px) {
  .header-container {
    padding: 0 40px;
  }
}


@media (max-width: 480px) {
  .header {
    height: 72px;
  }

  .header-container {
    padding: 0 16px;
  }

  /* LOGO SWITCH */

  .header-logo-desktop {
    display: none;
  }

  .header-logo-mobile {
    display: block;
    height: 20px;
  }

  /* LANG */

  .lang {
    width: 60px;
  }

  .lang-selected {
    height: 36px;
    padding: 0 10px;
    font-size: 13px;
  }

  /* BUTTON */

  .header-btn {
    width: auto;
    height: 36px;
    padding: 0 14px;
    font-size: 13px;
  }

  /* SPACING */

  .header-actions {
    gap: 8px;
  }
}